<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Arduino Duet</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <script src="/assets/Tone.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <div id="statusArea">
    <label>Status:</label>
    <p>Connection: <span id="connectionStatus">Not Connected</span></p>
  </div>
  <div id="notes">
    <label>Board:</label>
    <div id="notesFromBoard"></div>
  </div>
  <input id="ledButton" type="button" value="Toggle Led"/>
  <div id="info"></div>
  <script src="/assets/bundle.js"></script>
</body>
</html>